@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Londrina+Outline&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=VT323&display=swap');

html {
    font-size: calc(100vh / 778);
}

* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
}
.homepage {
    position: absolute;
    width: 1440rem;
    height: 100vh;
}

@media screen and (max-width: calc(100vh / 778 * 1440)) {
    .homepage {
        left: 0;
        translate: 0 0;
    }

    html {
        font-size: calc(100vw / 1440);
    }
}

.body-bg {
    position: fixed;
    top: 0;
    width: calc(100% + (100vh / 778 * 1440));
    background-color: var(--token-background);
    height: 100vh;
    z-index: -2;
    left: 0;
}

.homepage .header {
    width: 100%;
    height: 108rem;
    display: flex;
}

.homepage .header .wrapper {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: calc(100% - 64rem);
    margin: auto;
}

.homepage .header .logo {
    width: 69rem;
    height: 69rem;
    background-color: #D9D9D9;
    border-radius: 50%;
}

.homepage .header .nav {
    display: flex;
    gap: 24rem;
    padding: 16rem 32rem;
}

.homepage .header .nav li {
    justify-content: center;
    height: 44rem;
    display: flex;
    align-items: center;
    padding: 12rem 8rem;
}

.homepage .header .nav a {
    transition: 0.5s;
    text-decoration: none;
    height: 20rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 20rem;
    letter-spacing: 0.001em;
    color: #424242;
}

.homepage .header .nav a:hover {
    color: #00838F;
}

.homepage .header .right {
    display: flex;
    align-items: center;
    gap: 16rem;
}

.homepage .header .search-box {
    position: relative;
}

.homepage .header .search-box input {
    width: 329rem;
    box-sizing: border-box;
    height: 48rem;
    border: 1rem #ffffff solid;
    border-radius: 50rem;
    background: transparent;
    outline: none;
    padding: 0 40rem 0 25rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 20rem;
    letter-spacing: 0.001em;
    color: var(--base-palette-gray-800);
}

.homepage .header .seacrh-icon svg {
    width: 17rem;
    height: 17rem;
    position: absolute;
    right: 16rem;
    top: 16rem;
}

.homepage .header .avatar,
.homepage .header .avatar * {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepage .header .avatar {
    width: 64rem;
    height: 64rem;
    border: 1rem #fff solid;
    border-radius: 50%;
}

.homepage .header .avatar .avatar__in {
    width: 60rem;
    height: 60rem;
    border: 1rem #fff solid;
    border-radius: 50%;
}

.homepage .header .avatar .avatar__in .icon {
    width: 17rem;
    height: 17rem;
}
.homepage .header .avatar:hover .avatar__in .icon svg *{
    fill:var(--base-palette-cyan-800);
}
.homepage .container {
    width: 100%;
    height: calc(100vh - 108rem);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;

    scroll-snap-type: y mandatory;
}

.homepage .container::-webkit-scrollbar {
    display: none;
}

.homepage .container .page {
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    position: relative;
}

.homepage .container .page1 .content {
    position: absolute;
    translate: 0 -50%;
    top: calc(50% - 85rem);
    left: 148rem;
}

.homepage .container h1 {
    display: inline-block;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 57rem;
    line-height: 64rem;
    letter-spacing: -0.0025em;
    color: var(--base-palette-gray-600);
}

.homepage .container .page2 h1 {
    font-size: 45rem;
}

.homepage .container .page2 p {
    font-size: 16rem;
}

.homepage .container p {
    display: inline-block;
    margin-top: 40rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 16rem;
    line-height: 24rem;
    letter-spacing: 0.005em;
    color: var(--base-palette-gray-600);
}

.homepage .page2 .text {
    margin-bottom: 20rem;
    width: 630rem;
    cursor: pointer;
    border-radius: 15rem;
    transition: 0.5s;
    padding: 16rem;
    display: inline-block;
    border: 1rem solid transparent;
}

.homepage .page2 .text h1 {
    transition: 0.5s;
}

.homepage .page2 .text:hover h1 {
    color: var(--base-palette-cyan-800);
}

.homepage .page2 .text:hover {
    border: 1rem solid var(--base-palette-cyan-600);
}

.homepage .container .page1 button {
    margin-top: 40rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 14rem;
    line-height: 20rem;
    letter-spacing: 0.001em;
    color: var(--base-palette-white-100);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 133rem;
    height: 40rem;
    background: var(--base-palette-cyan-600);
    backdrop-filter: blur(2rem);
    border-radius: 128rem;
    transition: all 0.5s;
}

.homepage .container .page1 button:nth-child(1):hover {
    opacity: 0;
}

.homepage .button {
    position: relative;
    display: inline;
}

.homepage .container .page1 button:nth-child(2) {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0rem;
    box-sizing: border-box;
    color: var(--base-palette-cyan-600);
    background: transparent;
    border: 1rem solid transparent;
    background: linear-gradient(var(--base-palette-gray-250) 0 0) padding-box,
        linear-gradient(-45deg, var(--base-palette-cyan-600) 40%, var(--base-palette-cyan-200) 100%) border-box;
}

.homepage .container .image {
    width: 319rem;
    height: 519rem;
    position: absolute;
    right: 156rem;
    translate: 0 -50%;
    top: calc(50% - 50rem);
}

.homepage .container .page2 .image {
    right: 8rem;
    height: 300rem;
    width: 500rem;
    top: calc(50% - 80rem);
    background-size: 130%;
    background-position: -50rem -90rem;
    background-image: url('../img/index/page2/img.jpg');
}

.homepage .container .page1 .page-footer {
    width: 100%;
    position: absolute;
    bottom: 10rem;
    left: 0;
}

.homepage .page2 .content {
    position: absolute;
    translate: 0 -50%;
    top: calc(50% - 10rem);
    width: calc(100% - 148rem - 148rem);
    margin-left: 148rem;
}

.homepage .page2 p {
    margin-top: 5rem;
}

.homepage .box {
    width: 100%;
    margin-top: 20rem;
}

.homepage .box:only-child {
    width: 100%;
}

.homepage .box .bottom {
    cursor: pointer;
    margin-top: 10rem;
    text-align: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 20rem;
    letter-spacing: 0.001em;
    color: var(--base-palette-cyan-800);
}

.homepage .box .top {
    display: flex;
    justify-content: space-between;
}

.homepage .page2 .box .top div {
    width: 300rem;
    text-align: center;
    padding: 16rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 16rem;
    line-height: 28rem;
    transition: 0.5s;
    cursor: pointer;
    color: var(--base-palette-gray-700);
}

.homepage .page2 .box .top div:hover {
    color: var(--base-palette-cyan-800);
}

.homepage .page3 .content {
    height: 520rem;
    position: absolute;
    top: calc(50% - 70rem);
    translate: 0 -50%;
    left: 148rem;
    width: calc(100% - 148rem - 148rem);

}

.homepage .page3 .content h1 {
    text-align: center;
    padding-top: 44rem;
    width: 516rem;
    height: 52rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 45rem;
    line-height: 52rem;
    color: #424242;
}

.homepage .page3 .content p {
    text-align: center;
    margin-top: 28rem;
    width: 516rem;
    height: 168rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 16rem;
    line-height: 24rem;
    letter-spacing: 0.005em;
    color: #424242;
}

.homepage .page3 .images {
    width: 796rem;
    position: absolute;
    height: 539rem;
    right: 0;
    top: 0;
}

.homepage .page3 .img1 {
    position: absolute;
    top: 0;
    right: 75rem;
    width: 500rem;
    height: 322rem;
}

.homepage .page3 .img2 {
    position: absolute;
    top: 205rem;
    right: 0;
    width: 351rem;
    height: 253rem;
}

.homepage .page3 .img3 {
    position: absolute;
    bottom: 0;
    right: 159rem;
    width: 351rem;
    height: 253rem;
}

.homepage .page3 .img4 {
    width: 240rem;
    height: 117rem;
}

.homepage .page3 .box {
    top: 335rem;
    right: 231rem;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 56rem;
}

.homepage .page3 .box a {
    width: 191rem;
    height: 28rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 22rem;
    line-height: 28rem;
    text-decoration-line: underline;
    color: #00838F;
}

.homepage .page3 .images h3 {
    position: absolute;
    right: 578rem;
    bottom: 30rem;
    text-align: center;
    width: 164rem;
    height: 20rem;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 400;
    font-size: 14rem;
    line-height: 20rem;
    letter-spacing: 0.001em;
    color: #424242;
}

.homepage .container .page3 .page-footer {
    width: 100%;
    position: absolute;
    bottom: 10rem;
    left: 0;
}

.homepage .scroll-index * {
    transition: 0.2s linear;
}

.homepage .scroll-index {
    position: fixed;
    right: 20rem;
    top: 50%;
    translate: 0 -50%;
    z-index: 3;
}

.homepage .scroll-index .index {
    width: 10rem;
    text-align: center;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-size: 22rem;
    line-height: 28rem;
    color: #424242;
    position: relative;
    background: transparent;
    border: none;
}
.homepage .scroll-index .index .index__border{
    background: #00838F;
    margin: 5.5rem;
}
.homepage .scroll-index .active {
    font-size: 24rem;
    font-weight: 600;
    font-size: 24rem;
    color: #00838F;
}

.homepage .scroll-index .active .index__border {
    height: 120rem;
    width: 1rem;
}