*{
    padding: 0;
    margin: 0;
}
body{
    min-width: 1440px;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}
.bgg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    background-image: url(../img/Hoạ_tiết.png);
    background-size: 100%;
    opacity: 0.7;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.2));
}
@media screen and (max-width: 800px) {
    body{
        overflow-x: inherit;
    }
  }

body{
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar { 
  width: 0 !important;
  display: none; 
}