body {
    width: 100%;
    background: #eae9ee;
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 148px;
    z-index: 2;

}

.header .wrapper {
    position: relative;
    width: 100%;
    height: 138px;
}

header .nav {
    display: flex;
    gap: 48px;
    list-style: none;
    padding: 44px 0 0 193.5px;
}

.header .nav li a {
    position: relative;
    z-index: 5;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #757575;
    height: 20px;
    display: flex;
}

.header .bg-img {
    width: 1440px;
    height: 108px;
    position: absolute;
    top: 0;
    right: 0;
    translate: 8px;
    z-index: 1;
}

.header .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background: #f7f6f8;
    height: 108px;
    box-sizing: border-box;
    width: calc(100% - 1400px);
    border-bottom: 2px solid #ffffff;
}

.header .backg {
    width: 100%;
    z-index: 0;
    height: 108px;
    position: absolute;
    top: 0;
    left: 0;
    background: #eae9ee;
}

.header .bg2 {
    position: absolute;
    top: 0;
    right: -10px;
    z-index: 1;
    background: #f7f6f8;
    height: 108px;
    box-sizing: border-box;
    width: 30px;
    border-bottom: 2px solid #ffffff;
}

.search-box {
    width: 445px;
    height: 60px;
    position: absolute;
    right: 32px;
    top: 72px;
}

.search-box svg {
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    translate: -50% -50%;
}

.search-box input {
    border: none;
    background: #f5f5f5;
    height: calc(100% - 10px);
    width: calc(100% - 60px - 30px);
    outline: none;
    left: 60px;
    top: 50%;
    translate: 0 -50%;
    font-family: 'Roboto';
    position: absolute;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #9E9E9E;
    display: flex;
    align-items: center;
}

.search-box input::placeholder {
    color: #9E9E9E;
}